<div class="row">
  <div class="col-md-6">
    <form [formGroup]="employeeForm" (ngSubmit)="submit()">
      <div class="mb-3">
        <label for="fullName" class="form-label">Full name</label>
        <input formControlName="fullName" type="text" class="form-control" id="fullName" aria-describedby="fullName">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="email">
      </div>
<div>

</div>
      <button class="btn btn-primary">Save</button>
    </form>
  </div>
</div>

